/* apply a natural box layout model to all elements, but allowing components to change */

:root{
	--fuenteHeading: 'PT Sans', sans-serif;
	--fuenteParrafos: 'Open Sans', sans-serif;

	--primario: #784d3c;
	--blanco: #ffffff;
	--negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5% /* 1rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	font-family: var(--fuenteParrafos);
	font-size: 1.6rem;

}

/** Globales **/
.contenedor {
	max-width: 1200px;
	margin: 0 auto;
	width: 95%;
	}

a	{
	 text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: var(--fuenteHeading);
}
h1{
	font-size: 4.8rem;
}
h2 {
	font-size: 4rem;	
}
h3 {
	font-size: 3.2rem;

}
h4{
	font-size: 2.8rem;
	margin-top: 0;
}
img {
	max-width: 100%;
}
 
/** Utilidades **/

.centrar-texto {
	text-align: center;
}
.no-margin {
	margin: 0;
}
.no-padding{
	padding: 0;
}
/**GRID**/
@media(min-width: 768px){
	.grid{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.centrar-columnas{
		justify-content: center;
	}
	.columna6{
		flex: 0 0 calc(50% - 1rem); /*Nosotros*/
	}
	.columna4{
		flex: 0 0 calc(33.3% - 1rem); /*cursos*/
	}
	.columna8{
		flex: 0 0 calc(66.6% - 1rem); /*cursos*/
		margin: 0;
	}
	.columna12 {
		flex: 0 0 100%;	
	}
	.columna10 {
		flex: 0 0 calc(83.3% - 1rem);
	}	
}

/**BOTONES**/

.btn {
	display: block;
	text-align: center;
	padding: 1rem 3rem;
	margin: 2rem 0;
	color: var(--blanco);
	font-family: var(--fuenteHeading);
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 2rem;
	flex: 0 0 100%;
}
.btn:hover{
	cursor: pointer;
}
@media(min-width: 768px){
	.btn{
		display: inline-block;
		flex: 0 0 auto;
	}
}

.btn-primario{
	background-color: var(--negro);
}
.btn-secundario{
	background-color: var(--primario);
}


/** Header **/

@media(min-width: 768px){
	.barra {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.site-header{
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 60rem;
}
.site-header a {
	color: var(--blanco);
	text-decoration: none;
}
.site-header h1 {
	
	font-weight: 400;
	padding-top: 3rem;

}
.site-header h1 span {
	font-weight: 700;
}
/** NAVEGACION **/
.navegacion {
		padding-top: 3rem;
		line-height: 3rem;
}
.navegacion a {
	text-align: center;
	display: block;
	font-size: 1.8rem;
	color: var(--blanco);
	text-decoration: none;
}
@media(min-width: 768px){
	.navegacion a{
		display: inline;
		margin-right: 2rem;
	}
	.navegacion a:last-of-type {
		margin: 0;
	}		
}

/** HEADER TEXTO **/
.texto-header {
	color: var(--blanco);
	text-align: center;
	margin-top: 5rem;
}
@media(min-width: 768px){
	.texto-header {
		margin: 15rem;
	}
}
/*.texto-header p {
	font-size: 1.8rem; Queda mejor sin aumento
}
/** CONTENIDO PRINCIPAL HOME**/

.contenido-principal {
	display: flex;
	flex-wrap: wrap;
}
.contenido-blog p{
	line-height: 2.5rem;
}
.blog,
.cursos {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 100%;
}
.cursos{
	order: -1;
}
@media(min-width: 768px){
	.contenido-principal {
		justify-content: space-between;
	}
	.blog {
		flex-basis: 66.6%;
		order: -1; /* se puede poner aqui */
	}
	.cursos {
		flex-basis: calc(33.3% - 4rem); 
	/*	order: 2; ó aqui es lo mismo */
	}
}

/** OPCIONAL **/
.entrada-blog {
	margin-bottom: 2rem;
	border-bottom: 1px solid #e1e1e1;
}
.entrada-blog:last-of-type{
	border: none;
}
/* EJERCICIO/EXPLICACION v.90
.entrada-blog {
	display: flex;
	justify-content: space-between;
}

.entrada-blog .imagen {
	flex: 0 0 40%;
}

.entrada-blog .contenido-blog {
	flex: 0 0 calc(60% - 4rem);
} FIN EXPLICACION VIDEO 90*/

/**Cursos Sidebar **/

.cursos-lista{
	
	list-style: none;
}
.curso{
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid #e1e1e1;
}
.curso:last-of-type{
	border-bottom: none;
}
.curso p {
	font-family: var(--fuenteHeading);
	font-weight: 700;
	font-size: 2rem;
}
.curso p span,
.curso p.descripcion{
	font-weight: 400;
	line-height: 2.5rem;
}

/** FOOTER **/
.site-footer{
	background-color: var(--negro);
	margin-top: 4rem;
	padding-bottom: 2rem;
}
.site-footer p {
	color: var(--blanco);
	font-size: 4rem;
	font-weight: 400;
	font-family: var(--fuenteHeading);
	text-align: center;
	padding-top: 2rem;
}
.site-footer p span {
	font-weight: 700;
}

/** CONTACTO **/
.formulario-contacto{
	background-color: var(--blanco);
	padding: 5rem;
	}
@media(min-width: 768px){
.formulario-contacto{
	margin-top: -10rem;
	padding: 5rem;
	}
}
.formulario-contacto .campo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}
.formulario-contacto .campo label {
	flex: 0 0 8rem;
}
.formulario-contacto .campo input:not([type="submit"]),
.formulario-contacto textarea{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
.formulario-contacto textarea {
    height: 20rem;
}
.formulario-contacto .enviar {
    display: flex;
    justify-content: flex-end;
}